/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.site-nav,
.link-nav, .work-list, .filtres, .footer-social, .forma-field {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, serif;
}

body.modal-open {
  overflow: hidden;
}

.title {
  margin: 0px;
  padding: 0px;
}

.button {
  cursor: pointer;
}

.no-padding {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-margin {
  margin-bottom: 50px;
}

body .link,
a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filtres .button {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .filtres .button {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.filtres .button:hover,
.filtres .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2196f3;
  color: #ffffff;
  background-color: #2196f3;
}

.page-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #2196f3;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-logo span {
  color: #212121;
}

.contacts .page-logo span {
  color: #ffffff;
}

.contacts .page-logo {
  font-size: 22px;
  line-height: 1.18;
}

.page-header {
  z-index: 2;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  min-height: 80px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu:hover,
.icon-menu:focus {
  fill: #2196f3;
}

.icon-cross:hover,
.icon-cross:focus {
  fill: #2196f3;
}

.nav-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .nav-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 81px;
  }
}

@media screen and (min-width: 768px) {
  .link-nav {
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav .link,
.link-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .site-nav .item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    margin-bottom: 0;
    padding-bottom: 34px;
    padding-top: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .link-nav .item:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 30px;
  }
}

.link-nav .link {
  display: block;
  margin-bottom: 16px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .link-nav .link {
    margin-bottom: 10px;
  }
}

.nav-icon {
  display: inline-block;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250 ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

.site-nav .link.current::after {
  display: block;
  position: absolute;
  content: '';
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: currentColor;
  border-radius: 2px;
}

.link-nav .link:hover,
.link-nav .link:focus {
  color: #2196f3;
}

.link-nav .link:hover .nav-icon,
.link-nav .link:focus .nav-icon {
  fill: #2196f3;
}

.work-list {
  border: 1px solid transparent;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.work-list .item {
  display: block;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .work-list .item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .work-list .item {
    width: calc((100% - 15px * 4) / 2);
    margin-right: 30px;
  }
  .work-list .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work-list .item {
    width: calc((100% - 60px) / 3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
  }
  .work-list .item.item:hover, .work-list .item.item:focus {
    -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
            box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  .work-list .item:nth-child(2n) {
    margin-right: 30px;
  }
  .work-list .item:nth-child(3n) {
    margin-right: 0;
  }
}

.item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.card-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.work-list .title {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.work-list .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-description {
  position: relative;
  overflow: hidden;
}

.text-descriprion {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.work-list .item:hover .text-descriprion,
.work-list .item:focus .text-descriprion {
  color: #ffffff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .filtres {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 641px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.footer-title {
  display: none;
}

.contacts {
  margin-bottom: 60px;
}

.contacts a {
  display: block;
  font-style: normal;
}

.contacts .address {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

.contacts .mail {
  display: block;
  margin-bottom: 10px;
}

.contacts .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  margin-bottom: 60px;
}

.footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:last-child {
  margin-right: 0px;
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  display: inline-block;
  fill: #ffffff;
}

.subscribe {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe > .forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe > .forma {
    margin-left: 102px;
  }
}

.subscribe.forma > b {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.forma-field {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .forma-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .input-forma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.input-forma--inner {
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  outline: none;
  line-height: 1.9;
  letter-spacing: 0.03em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 0) and (max-width: 1199px) {
  .input-forma--inner {
    width: calc(100% - 15px * 2);
    max-width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .input-forma--inner {
    width: 358px;
    padding: 18px 12px;
  }
}

.input-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-button--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 900;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .input-button--submit {
    margin-left: 12px;
  }
}

.plane {
  fill: #ffffff;
  background-color: #2196f3;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */