.regular-clients-list {
  display: flex;
  justify-content: space-between;
}
.client-title {
  margin-bottom: 50px;
}
.regular-clients .item {
  width: 175px;
}
.regular-clients .title {
  color: $PrimaryTextColor;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover,
.client-logo:focus {
  border: 1px solid $AccentColor;
}
.client-logo-icon {
  display: inline-block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover > .client-logo-icon,
.client-logo:focus > .client-logo-icon {
  fill: $AccentColor;
}
