.regular-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @extend %list-rule;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.title.client-title {
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.regular-clients-list .item {
  @include centeredFlex;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 30px;
  @include transition();
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    &.item:hover .client-logo-icon,
    &.item:focus .client-logo-icon {
      fill: $accent-color;
    }
  }
  @media screen and (min-width: $mobile) {
    width: calc((100% - 15px * 2) / 2);
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 15px * 6) / 3);
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
.regular-clients-list .title {
  color: $primary-text-color;
}
.client-logo {
  @include centeredFlex();
  background-repeat: no-repeat;
  background-position: center;
}
.client-logo-icon {
  display: inline-block;
  fill: #afb1b8;
  @include transition($type: fill);
}
