.regular-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @extend %list-rule;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.title.client-title {
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.regular-clients-list .item {
  display: block;
  margin-bottom: 30px;
  margin-right: 30px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 0;
  }
}
// .regular-clients-list .item:nth-child(2n) {
//   @media screen and (min-width: $mobile) {
//     margin-right: 0;
//   }
// }
// .regular-clients-list .item:nth-child(3n) {
//   @media screen and (min-width: $tablet) {
//     margin-right: 0;
//   }
// }
.regular-clients-list .title {
  color: $primary-text-color;
}
.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover,
.client-logo:focus {
  border: 1px solid $accent-color;
}
.client-logo-icon {
  display: inline-block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover > .client-logo-icon,
.client-logo:focus > .client-logo-icon {
  fill: $accent-color;
}
