.hero {
  @include centeredFlex();
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 479px) {
    @include bg-image;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include bg-image(url(../images/hero/imgmobile@2x.jpg));
    }
  }
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    @include bg-image($image: url(../images/hero/imgtablet.jpg));
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include bg-image($image: url(../images/hero/imgtablet@2x.jpg));
    }
  }

  @media screen and (min-width: $tablet) {
    @include bg-image($image: url(../images/hero/imgdesktop.jpg));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @include bg-image($image: url(../images/hero/imgdesktop@2x.jpg));
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .content {
  max-width: 696px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.hero .title-hero {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
  @media screen and (max-width: $tablet) {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}
