.footer-social {
  @include centeredFlex();
  padding-top: 20px;
  @extend %list-rule;
  &__item {
    display: flex;
    margin-right: 10px;
  }
  &__link {
    @include centeredFlex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
    @include transition($type: background-color);
  }
  &__link:last-child {
    margin-right: 0px;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }
  &-icon {
    display: inline-block;
    fill: $white-color;
  }
}
