.page-header {
  position: relative;
}
.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  @include centeredFlex($align: baseline, $justify: space-between);
  min-height: 80px;
}
