@mixin centeredFlex($type: flex, $align: center, $justify: center) {
  display: $type;
  align-items: $align;
  justify-content: $justify;
}
@mixin transition(
  $type: border,
  $time: 250 ms,
  $style: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $type $time $style;
}
