$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$team-bg-color: #f5f4fa;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
